{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}
    <title>Main page</title>
{% endblock %}

{% block content %}
    {% include 'mainapp/includes/inc_menu.html'%}
    <h1 id="root"></h1>
    <h1>Main page</h1>
    <div>Hello, {{ user.name|title }}</div>

    {% if array|length > 0%}
        <h1>{{ array.0 }}</h1>
    {% endif %}

    {% for item in array %}
        <h1>{{ item }}</h1>
    {% endfor %}

{% endblock %}

{% block js %}
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}